<footer class="main-footer" style="text-align:center">
	<strong>Copyright &copy; PTIT <a href="#">BTK</a>.
	</strong> All rights reserved.
	<input id="iddd" class="input100" type="text" name="iddd" placeholder="" hidden  >
</footer>